body {
    background-color: azure (232,246,255);
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #4aa9e0;
    height: 56px;
    padding-left: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#header span {
    font-size: 24px;
    color: #231d1d;
    padding-right: 15px;
}
#header a {
    padding-left: 0px;
    
}
#container{
    background-color: #4aa9e0;
    box-shadow: 2px 2px 5px black;
    width: 50%;
    min-width: 700px;
    border-radius: 5px;
}
#inputContainer{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 25px;
}
#toDoInput{
    outline: none;
    width: 75%;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}
#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
  height: 35px;
  background: #08121a;
  color: #d36d6d;
  font-size: 20px;
}
#toDoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.toDoShell {
  width: 650px;
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px;
}

.toDoShell span {
  width: 90%;
}
.completeText {
  color: lightgrey;
  text-decoration: line-through;
}

.completeCheckbox {
  transform: scale(1.8);
}